<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="troels1.com.organisation.mypantry"
    tools:ignore="ImpliedTouchscreenHardware,MissingLeanbackLauncher,MissingLeanbackSupport">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon_new"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyPantry">
        <activity
            android:name=".addProducts.AddProductActivity"
            android:exported="false" />
        <activity
            android:name=".pantry.PantryActivity"
            android:exported="false"
            android:label="@string/title_activity_pantry"
            android:theme="@style/Theme.MyPantry.NoActionBar" />
        <activity
            android:name=".myShoppingLists.MyShoppingListActivity"
            android:exported="false" />

        <activity
            android:name=".mainListVIew.MenuActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>